@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Nunito+Sans:opsz@6..12&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Raleway:wght@100;400;500;600;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

.gradient-bg {
  /* background: linear-gradient(90deg, rgba(48,63,159,1) 0%, rgba(0,0,0,1) 100%); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(35, 46, 119, 1) 100%
  );
}

.gradient-bg-header {
  /* background: linear-gradient(90deg, rgba(48,63,159,1) 0%, rgba(0,0,0,1) 100%); */
  /* background: rgb(0,0,0); */
  background: linear-gradient(
    90deg,
    rgba(35, 46, 119, 0.8) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

@media screen and (max-width: 900px) {
  .gradient-bg-sm {
    /* background: linear-gradient(90deg, rgba(48,63,159,1) 0%, rgba(0,0,0,1) 100%); */
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(35, 46, 119, 1) 100%
    );
  }
}

.transition-ease-in-out {
  transition: all 0.2s ease-in-out;
}

.transition-ease-in-out-two {
  transition: all 0.3s ease-in-out;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.2) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* .splide {
  padding: 20px 0;
} */

/* Generic Slide */
.product-item {
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: transform 400ms;
  transform: scale(0.9);
  transform-origin: center center;
}

/* Active Slide */
.product-item.is-active {
  transform: scale(1);
}

.product-item.is-active {
  transform: scale(1);
}

/* Arrow Tweaks for Accessibility */
.splide .splide__arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  transform: none;
  border-radius: unset;
  width: 50px;
  opacity: 0.9;
}

.splide .splide__arrow svg {
  width: 24px;
  height: 24px;
  fill: #f97316;
}

#splide-client svg {
  width: 24px;
  height: 24px;
  fill: #f97316;
}

.splide__arrow.splide__arrow--prev {
  left: 0;
  background: transparent;
}

.splide__arrow.splide__arrow--next {
  right: 0;
  background: transparent;
}

.header {
  background: linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #303f9f 70%),
    url("../../public/assets/banner.jpg");

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#303F9F", endColorstr="#0C0402", GradientType=1 );
  height: 100vh;
  background-position: bottom;
  background-size: cover;
}

.box::before {
  content: "";
  position: absolute;
  inset: -5px; /* control the spread */
  transform: translate(10px, 8px); /* control the offsets */
  z-index: -1; /* place the element behind */
  background-image: radial-gradient(#f97316, #f6e05e);
  filter: blur(100px);
}

.track {
  padding: 50px 50px;
  padding-right: 50px;
  padding-left: 50px;
  gap: 10px;
  width: 100%;
  overflow: none !important;
}

.presentation {
  background-color: #f97316 !important;
}
